::-moz-selection {
	background-color: #e4191f
}

::selection {
	background-color: #e4191f
}

.bg-primary {
	background-color: #e4191f !important
}

.bg-secondary {
	background-color: #92b25a !important
}

a {
	color: #e4191f
}

a:hover,
a:focus {
	color: #90b947
}

.link-underline {
	box-shadow: 0 1px 0 0 #e4191f
}

.text-primary {
	color: #e4191f !important
}

.text-secondary {
	color: #92b25a !important
}

.alert-primary {
	background-color: #e4191f
}

.banner-badge .banner-link:hover .banner-link-text,
.banner-badge .banner-link:focus .banner-link-text {
	background-color: #e4191f
}

.header-3 .header-search-extended .btn,
.header-4 .header-search-extended .btn {
	background-color: transparent;
	color: #333
}

.header-3 .header-search-extended .btn:hover,
.header-3 .header-search-extended .btn:focus,
.header-4 .header-search-extended .btn:hover,
.header-4 .header-search-extended .btn:focus {
	color: #e4191f
}

.btn-video {
	color: #e4191f
}

.btn-video:hover,
.btn-video:focus {
	background-color: #92b25a
}

.breadcrumb-item a:hover,
.breadcrumb-item a:focus {
	color: #e4191f
}

.btn-link {
	color: #e4191f
}

.btn-link:hover,
.btn-link:focus,
.btn-link .btn-link-dark:hover,
.btn-link .btn-link-dark:focus {
	color: #e4191f;
	border-color: #e4191f
}

.btn-primary {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f
}

.btn-secondary {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-secondary.disabled,
.btn-secondary:disabled {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f
}

.btn-white {
	color: #333;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show>.btn-white.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-white.disabled,
.btn-white:disabled {
	color: #333;
	background-color: #fff;
	border-color: #fff
}

.btn-white-2 {
	color: #333;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none
}

.btn-white-2:hover,
.btn-white-2:focus,
.btn-white-2.focus,
.btn-white-2:not(:disabled):not(.disabled):active,
.btn-white-2:not(:disabled):not(.disabled).active,
.show>.btn-white-2.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-white-2.disabled,
.btn-white-2:disabled {
	color: #333;
	background-color: #fff;
	border-color: #fff
}

.btn-primary-white {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-primary-white:hover,
.btn-primary-white:focus,
.btn-primary-white.focus,
.btn-primary-white:not(:disabled):not(.disabled):active,
.btn-primary-white:not(:disabled):not(.disabled).active,
.show>.btn-primary-white.dropdown-toggle {
	color: #e4191f;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none
}

.btn-primary-white.disabled,
.btn-primary-white:disabled {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f
}

.btn-white-primary {
	color: #e4191f;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none
}

.btn-white-primary:hover,
.btn-white-primary:focus,
.btn-white-primary.focus,
.btn-white-primary:not(:disabled):not(.disabled):active,
.btn-white-primary:not(:disabled):not(.disabled).active,
.show>.btn-white-primary.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-white-primary.disabled,
.btn-white-primary:disabled {
	color: #e4191f;
	background-color: #fff;
	border-color: #fff
}

.btn-dark {
	color: #fff;
	background-color: #333;
	border-color: #333;
	box-shadow: none
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-dark.disabled,
.btn-dark:disabled {
	color: #fff;
	background-color: #333;
	border-color: #333
}

.btn-outline {
	color: #e4191f;
	background-color: transparent;
	background-image: none;
	border-color: #ebebeb;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline.focus,
.btn-outline:not(:disabled):not(.disabled):active,
.btn-outline:not(:disabled):not(.disabled).active,
.show>.btn-outline.dropdown-toggle {
	color: #e4191f;
	background-color: transparent;
	border-color: #ebebeb;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)
}

.btn-outline.disabled,
.btn-outline:disabled {
	color: #e4191f;
	background-color: transparent
}

.btn-outline-primary {
	color: #e4191f;
	background-color: transparent;
	background-image: none;
	border-color: #e4191f;
	box-shadow: none
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
	color: #e4191f;
	background-color: transparent;
	border-color: #ebebeb;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
	color: #e4191f;
	background-color: transparent
}

.btn-outline-primary-2 {
	color: #e4191f;
	background-color: transparent;
	background-image: none;
	border-color: #e4191f;
	box-shadow: none
}

.btn-outline-primary-2:hover,
.btn-outline-primary-2:focus,
.btn-outline-primary-2.focus,
.btn-outline-primary-2:not(:disabled):not(.disabled):active,
.btn-outline-primary-2:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary-2.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-outline-primary-2.disabled,
.btn-outline-primary-2:disabled {
	color: #e4191f;
	background-color: transparent
}

.btn-outline-light {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
	color: #e4191f;
	background-color: transparent;
	border-color: #fff;
	box-shadow: none
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
	color: #fff;
	background-color: transparent
}

.btn-outline-dark {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #d7d7d7;
	box-shadow: none
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark.dropdown-toggle {
	color: #e4191f;
	background-color: transparent;
	border-color: #ebebeb;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
	color: #333;
	background-color: transparent
}

.btn-outline-dark-2 {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #ebebeb;
	box-shadow: none
}

.btn-outline-dark-2:hover,
.btn-outline-dark-2:focus,
.btn-outline-dark-2.focus,
.btn-outline-dark-2:not(:disabled):not(.disabled):active,
.btn-outline-dark-2:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark-2.dropdown-toggle {
	color: #e4191f;
	background-color: #fafafa;
	border-color: #ebebeb;
	box-shadow: none
}

.btn-outline-dark-2.disabled,
.btn-outline-dark-2:disabled {
	color: #333;
	background-color: transparent
}

.btn-outline-dark-3 {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #d7d7d7;
	box-shadow: none
}

.btn-outline-dark-3:hover,
.btn-outline-dark-3:focus,
.btn-outline-dark-3.focus,
.btn-outline-dark-3:not(:disabled):not(.disabled):active,
.btn-outline-dark-3:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark-3.dropdown-toggle {
	color: #e4191f;
	background-color: transparent;
	border-color: #e4191f;
	box-shadow: none
}

.btn-outline-dark-3.disabled,
.btn-outline-dark-3:disabled {
	color: #333;
	background-color: transparent
}

.btn-outline-darker {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #d7d7d7;
	box-shadow: none
}

.btn-outline-darker:hover,
.btn-outline-darker:focus,
.btn-outline-darker.focus,
.btn-outline-darker:not(:disabled):not(.disabled):active,
.btn-outline-darker:not(:disabled):not(.disabled).active,
.show>.btn-outline-darker.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-outline-darker.disabled,
.btn-outline-darker:disabled {
	color: #333;
	background-color: transparent
}

.btn-outline-gray {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #959595;
	box-shadow: none
}

.btn-outline-gray:hover,
.btn-outline-gray:focus,
.btn-outline-gray.focus,
.btn-outline-gray:not(:disabled):not(.disabled):active,
.btn-outline-gray:not(:disabled):not(.disabled).active,
.show>.btn-outline-gray.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-outline-gray.disabled,
.btn-outline-gray:disabled {
	color: #333;
	background-color: transparent
}

.btn-outline-lightgray {
	color: #333;
	background-color: transparent;
	background-image: none;
	border-color: #ebebeb;
	box-shadow: none
}

.btn-outline-lightgray:hover,
.btn-outline-lightgray:focus,
.btn-outline-lightgray.focus,
.btn-outline-lightgray:not(:disabled):not(.disabled):active,
.btn-outline-lightgray:not(:disabled):not(.disabled).active,
.show>.btn-outline-lightgray.dropdown-toggle {
	color: #e4191f;
	background-color: #f5f6f9;
	border-color: #ebebeb;
	box-shadow: none
}

.btn-outline-lightgray.disabled,
.btn-outline-lightgray:disabled {
	color: #333;
	background-color: transparent
}

.btn-outline-white {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white.focus,
.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled).active,
.show>.btn-outline-white.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-outline-white.disabled,
.btn-outline-white:disabled {
	color: #fff;
	background-color: transparent
}

.btn-outline-white-2 {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none
}

.btn-outline-white-2:hover,
.btn-outline-white-2:focus,
.btn-outline-white-2.focus,
.btn-outline-white-2:not(:disabled):not(.disabled):active,
.btn-outline-white-2:not(:disabled):not(.disabled).active,
.show>.btn-outline-white-2.dropdown-toggle {
	color: #fff;
	background-color: #e4191f;
	border-color: #e4191f;
	box-shadow: none
}

.btn-outline-white-2.disabled,
.btn-outline-white-2:disabled {
	color: #fff;
	background-color: transparent
}

.btn-outline-white-4 {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
	box-shadow: none
}

.btn-outline-white-4:hover,
.btn-outline-white-4:focus,
.btn-outline-white-4.focus,
.btn-outline-white-4:not(:disabled):not(.disabled):active,
.btn-outline-white-4:not(:disabled):not(.disabled).active,
.show>.btn-outline-white-4.dropdown-toggle {
	color: #e4191f;
	background-color: #fff;
	border-color: #fff;
	box-shadow: none
}

.btn-outline-white-4.disabled,
.btn-outline-white-4:disabled {
	color: #fff;
	background-color: transparent
}

.newsletter-popup-container .input-group .btn:hover,
.newsletter-popup-container .input-group .btn:focus {
	background-color: #e4191f
}

.bg-image .btn-link-dark:hover,
.bg-image .btn-link-dark:focus {
	color: #e4191f;
	border-color: #e4191f
}

.bg-image .btn-outline-primary:hover,
.bg-image .btn-outline-primary:focus,
.bg-image .btn-outline-primary.focus,
.bg-image .btn-outline-primary:not(:disabled):not(.disabled):active,
.bg-image .btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.bg-image .btn-outline-primary.dropdown-toggle {
	background-color: #e4191f;
	border-color: #e4191f
}

.bg-image .btn-outline-dark:hover,
.bg-image .btn-outline-dark:focus,
.bg-image .btn-outline-dark.focus,
.bg-image .btn-outline-dark:not(:disabled):not(.disabled):active,
.bg-image .btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.bg-image .btn-outline-dark.dropdown-toggle {
	color: #e4191f
}

.card-title a {
	color: #e4191f
}

.card-title a:before {
	color: #e4191f
}

.card-title a.collapsed:hover,
.card-title a.collapsed:focus {
	color: #e4191f
}

.count-wrapper {
	color: #e4191f
}

.feature-box i {
	color: #e4191f
}

.feature-box-simple i {
	color: #e4191f
}

.form-control:focus {
	border-color: #e4191f
}

.custom-control.custom-radio .custom-control-input:checked~.custom-control-label::before {
	border-color: #e4191f
}

.custom-control.custom-radio .custom-control-input:checked~.custom-control-label::after {
	background-color: #e4191f
}

.icon-box-icon {
	color: #e4191f
}

.icon-box-circle .icon-box-icon {
	background-color: #e4191f
}

.instagram-feed-content a:hover,
.instagram-feed-content a:focus {
	color: #e4191f
}

.close:hover,
.close:focus {
	color: #e4191f
}

.page-header h1 span {
	color: #e4191f
}

.page-link:hover,
.page-link:focus {
	color: #e4191f
}

.page-item.active .page-link {
	color: #e4191f
}

.social-icon:hover,
.social-icon:focus {
	color: #e4191f;
	border-color: #e4191f
}

.testimonial-icon:before {
	color: #e4191f
}

.nav.nav-tabs .nav-link:hover,
.nav.nav-tabs .nav-link:focus {
	color: #e4191f
}

.nav.nav-tabs .nav-item.show .nav-link,
.nav.nav-tabs .nav-item .nav-link.active {
	color: #e4191f
}

.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
	color: #e4191f
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
	color: #e4191f;
	border-bottom-color: #e4191f
}

.nav.nav-border-anim .nav-link:before {
	background-color: #e4191f
}

.title-link:hover,
.title-link:focus {
	box-shadow: 0 1px 0 0 #e4191f
}

.product-countdown.countdown-primary .countdown-amount {
	color: #e4191f
}

.product-title a:hover,
.product-title a:focus {
	color: #e4191f
}

.product-price {
	color: #e4191f
}

.product-label.label-primary {
	background-color: #e4191f
}

.product-label.label-secondary {
	background-color: #e4191f
}

.product-label-text {
	color: #e4191f
}

.ratings-primary .ratings-val {
	color: #e4191f
}

.ratings-text a:hover,
.ratings-text a:focus {
	color: #e4191f
}

.btn-product {
	color: #e4191f
}

.btn-product:hover span,
.btn-product:focus span {
	color: #e4191f;
	box-shadow: 0 1px 0 0 #e4191f
}

.btn-product-icon {
	color: #e4191f
}

.btn-product-icon:hover,
.btn-product-icon:focus {
	background-color: #e4191f
}

.product-body .btn-wishlist:hover,
.product-body .btn-wishlist:focus {
	color: #e4191f
}

.btn-expandable span {
	background-color: #e4191f
}

.product.product-4 .btn-product:hover,
.product.product-4 .btn-product:focus {
	background-color: #e4191f
}

.product.product-5 .btn-product {
	color: #e4191f
}

.product.product-5 .btn-product:hover,
.product.product-5 .btn-product:focus {
	background-color: #e4191f
}

.product.product-7 .btn-product {
	color: #e4191f
}

.product.product-7 .btn-product span {
	color: #e4191f
}

.product.product-7 .btn-product:hover,
.product.product-7 .btn-product:focus {
	background-color: #e4191f;
	border-bottom-color: #e4191f
}

.product.product-8 .new-price {
	color: #e4191f
}

.product.product-8 .btn-product:before {
	color: #e4191f
}

.product.product-8 .btn-product:hover,
.product.product-8 .btn-product:focus {
	background-color: #e4191f
}

.product.product-list .btn-product:hover,
.product.product-list .btn-product:focus {
	color: #e4191f
}

.product.product-list .btn-product.btn-cart {
	color: #e4191f;
	border-bolor: #e4191f
}

.product.product-list .btn-product.btn-cart:hover,
.product.product-list .btn-product.btn-cart:focus {
	background-color: #e4191f
}

.footer a:hover,
.footer a:focus {
	color: #e4191f
}

.footer-dark.footer-2 .widget-about-title {
	color: #e4191f
}

.header-top a:hover,
.header-top a:focus {
	color: #ffffff
}

.top-menu span {
	color: #e4191f
}

.header-menu a:hover,
.header-menu a:focus {
	color: #e4191f
}

.account a:hover,
.account a:focus {
	color: #e4191f
}

.wishlist a:hover,
.wishlist a:focus {
	color: #e4191f
}

.wishlist a .wishlist-count {
	background-color: #000000
}

.cart-dropdown:hover .dropdown-toggle,
.cart-dropdown.show .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle {
	color: #e4191f
}

.compare-product-title a:hover,
.compare-product-title a:focus {
	color: #e4191f
}

.compare-actions .action-link:hover,
.compare-actions .action-link:focus {
	color: #e4191f
}

.cart-dropdown .cart-count {
	background-color: #000000;
}

.cart-dropdown .product-title a:hover,
.cart-dropdown .product-title a:focus {
	color: #e4191f
}

.wishlist-link .wishlist-count {
	background-color: #e4191f
}

.wishlist-link:hover,
.wishlist-link:focus {
	color: #e4191f
}

.search-toggle:hover,
.search-toggle:focus,
.search-toggle.active {
	color: #e4191f
}

.menu li:hover>a,
.menu li.show>a,
.menu li.active>a {
	color: #e4191f
}

.demo-item a:hover,
.demo-item a:focus {
	color: #e4191f
}

.tip {
	background-color: #e4191f
}

.header-bottom .menu>li>a:before {
	background-color: #e4191f
}

.category-dropdown .dropdown-toggle:before {
	background-color: #e4191f
}

.category-dropdown .dropdown-toggle:hover,
.category-dropdown .dropdown-toggle:focus {
	color: #fff;
}


.category-dropdown.show .dropdown-toggle {
	color: #fff;
	background: linear-gradient(to bottom right, #e4191f, #870606)
}

.category-dropdown .dropdown-item:hover,
.category-dropdown .dropdown-item:focus {
	color: #e4191f
}

.menu-vertical li:hover>a,
.menu-vertical li.show>a,
.menu-vertical li.active>a {
	color: #e4191f
}

.menu-vertical>li:hover>a,
.menu-vertical>li.show>a,
.menu-vertical>li.active>a {
	color: #0c0000
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
	color: #e4191f
}

.mobile-menu li a:hover,
.mobile-menu li a:focus {
	color: #e4191f
}

.mobile-menu li.open>a,
.mobile-menu li.active>a {
	color: #e4191f
}

.mmenu-btn:hover,
.mmenu-btn:focus {
	color: #e4191f
}

.mobile-search .form-control:focus {
	border-color: #e4191f
}

.nav.nav-pills-mobile .nav-link.active,
.nav.nav-pills-mobile .nav-link:hover,
.nav.nav-pills-mobile .nav-link:focus {
	color: #e4191f;
	border-bottom-color: #e4191f
}

.mobile-cats-menu li a:hover,
.mobile-cats-menu li a:focus {
	color: #e4191f
}

.mobile-menu-light .mobile-menu li.open>a,
.mobile-menu-light .mobile-menu li.active>a {
	color: #e4191f
}

.mobile-menu-light .mobile-search .form-control:focus {
	border-color: #e4191f
}

.header-4 .header-search .header-search-wrapper {
	border-color: #e4191f
}

.header-4 .dropdown.category-dropdown .dropdown-toggle:not(:hover):not(:focus) {
	color: #e4191f
}

@media screen and (max-width: 991px) {
	.header-4 .header-search-visible .header-search-wrapper:before {
		border-bottom-color: #e4191f
	}
}

.header-6 .header-middle a:hover,
.header-6 .header-middle a:focus {
	color: #e4191f
}

.header-8 .header-top {
	color: #ebf3de;
	background-color: #e4191f
}

.header-10 .header-search .header-search-wrapper {
	border-color: #e4191f
}

.header-10 .category-dropdown .dropdown-toggle {
	background-color: #e4191f
}

.header-10 .menu-vertical .menu-title {
	color: #e4191f
}

.header-12 .dropdown.category-dropdown .dropdown-toggle {
	background-color: #e4191f
}

.header-13 .dropdown.category-dropdown .dropdown-toggle {
	background-color: #e4191f
}

.header-14 .header-search .header-search-wrapper {
	border-color: #e4191f
}

.header-14 .dropdown.category-dropdown .dropdown-toggle {
	background-color: #e4191f
}

.entry-video a:hover:after,
.entry-video a:focus:after {
	color: #e4191f
}

.entry-meta a:hover,
.entry-meta a:focus {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.entry-title a:hover,
.entry-title a:focus {
	color: #e4191f
}

.entry-cats a:hover,
.entry-cats a:focus {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.read-more:hover,
.read-more:focus {
	box-shadow: 0 1px 0 0 #e4191f
}

.menu-cat a:hover,
.menu-cat a:focus {
	color: #e4191f
}

.menu-cat li.active a {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.widget-search .btn:hover,
.widget-search .btn:focus {
	color: #e4191f
}

.widget-cats a:hover,
.widget-cats a:focus {
	color: #e4191f
}

.posts-list a:hover,
.posts-list a:focus {
	color: #e4191f
}

.tagcloud a:hover,
.tagcloud a:focus {
	color: #e4191f
}

.table .total-col {
	color: #e4191f
}

.btn.btn-spinner:hover,
.btn.btn-spinner:focus {
	color: #e4191f
}

.table.table-summary .summary-shipping-estimate a:hover,
.table.table-summary .summary-shipping-estimate a:focus {
	color: #e4191f;
	border-bottom-color: #e4191f
}

.sidebar-toggler:hover,
.sidebar-toggler:focus {
	color: #e4191f
}

#filter-price-range {
	color: #e4191f
}

.checkout-discount label span {
	color: #e4191f
}

.checkout-discount .form-control:focus {
	border-color: #e4191f
}

.table.table-summary a:hover,
.table.table-summary a:focus {
	color: #e4191f
}

.table.table-summary .summary-total td {
	color: #e4191f
}

.accordion-summary .card-title a:before {
	border-color: #e4191f
}

.accordion-summary .card-title a:after {
	background-color: #e4191f
}

.paypal-link:hover,
.paypal-link:focus {
	color: #e4191f !important
}

.coming-countdown .countdown-amount {
	color: #e4191f
}

.coming-countdown.countdown-separator .countdown-section:not(:last-child):after {
	color: #e4191f
}

.contact-box a:hover,
.contact-box a:focus {
	color: #e4191f
}

.contact-list a:hover,
.contact-list a:focus {
	color: #e4191f
}

.contact-list i {
	color: #e4191f
}

.store a:not(.btn):hover,
.store a:not(.btn):focus {
	color: #e4191f
}

.nav-dashboard .nav-link:hover,
.nav-dashboard .nav-link:focus,
.nav-dashboard .nav-link.active {
	color: #e4191f
}

.form-tab .form-footer a:hover,
.form-tab .form-footer a:focus {
	color: #e4191f
}

.nav-filter a:hover,
.nav-filter a:focus {
	color: #e4191f
}

.nav-filter .active a {
	color: #e4191f;
	border-bottom-color: #e4191f
}

.portfolio-title a:hover,
.portfolio-title a:focus {
	color: #e4191f
}

.portfolio-tags a {
	color: #e4191f
}

.portfolio-tags a:hover,
.portfolio-tags a:focus {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.btn-product-gallery:hover,
.btn-product-gallery:focus {
	background-color: #e4191f
}

.product-gallery-item:before {
	border-color: #e4191f
}

.product-pager-link:hover,
.product-pager-link:focus {
	color: #e4191f
}

.product-pager-link:hover span,
.product-pager-link:focus span {
	box-shadow: 0 1px 0 #e4191f
}

.product-details .product-cat a:hover,
.product-details .product-cat a:focus {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.product-details .product-size a.active,
.product-details .product-size a:hover,
.product-details .product-size a:focus {
	color: #e4191f;
	border-color: #e4191f
}

.size-guide:hover,
.size-guide:focus {
	color: #e4191f
}

.product-details-action .btn-cart {
	color: #e4191f;
	border-color: #e4191f
}

.product-details-action .btn-cart:hover,
.product-details-action .btn-cart:focus {
	border-color: #e4191f;
	background-color: #e4191f
}

.product-details-tab .nav.nav-pills .nav-link:hover,
.product-details-tab .nav.nav-pills .nav-link:focus {
	color: #e4191f;
	border-bottom-color: #e4191f
}

.product-desc-content a:hover,
.product-desc-content a:focus {
	color: #e4191f;
	border-bottom-color: #e4191f
}

.review h4 a:hover,
.review h4 a:focus {
	color: #e4191f
}

.review-action a:hover,
.review-action a:focus {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.product-details-extended .nav.nav-pills .nav-link.active,
.product-details-extended .nav.nav-pills .nav-link:hover,
.product-details-extended .nav.nav-pills .nav-link:focus {
	border-color: #e4191f
}

.editor-content a:hover,
.editor-content a:focus {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.editor-content blockquote {
	border-left-color: #e4191f
}

.entry-tags a:hover,
.entry-tags a:focus {
	color: #e4191f
}

.entry-author-details h4 a:hover,
.entry-author-details h4 a:focus {
	color: #e4191f
}

.author-link:hover,
.author-link:focus {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.pager-link {
	color: #e4191f
}

.pager-link:hover,
.pager-link:focus {
	color: #e4191f
}

.pager-link:hover:after,
.pager-link:focus:after {
	color: #e4191f
}

.comment-reply:hover,
.comment-reply:focus {
	color: #e4191f;
	box-shadow: 0 1px 0 #e4191f
}

.comment-user h4 a:hover,
.comment-user h4 a:focus {
	color: #e4191f
}

.product-col .product-title a:hover,
.product-col .product-title a:focus {
	color: #e4191f
}

.owl-theme .owl-nav [class*='owl-'] {
	color: #e4191f
}

.owl-theme .owl-nav [class*='owl-']:not(.disabled):hover {
	border-color: #e4191f;
	background: #e4191f
}

.owl-theme.owl-light .owl-nav [class*='owl-']:not(.disabled):hover {
	border-color: #e4191f
}

.owl-theme.owl-light .owl-dots .owl-dot:hover span {
	border-color: #e4191f;
	background: #e4191f
}

.owl-theme.owl-light .owl-dots .owl-dot.active span {
	border-color: #e4191f;
	background: #e4191f
}

.owl-full .owl-nav [class*='owl-'] {
	color: #e4191f
}

.owl-full .owl-nav [class*='owl-']:hover,
.owl-full .owl-nav [class*='owl-']:focus {
	color: #e4191f
}

.owl-full .owl-dots .owl-dot span {
	border-color: #e4191f
}

.owl-full .owl-dots .owl-dot:hover span {
	border-color: #e4191f;
	background: #e4191f
}

.owl-full .owl-dots .owl-dot.active span {
	border-color: #e4191f;
	background: #e4191f
}

.owl-full.owl-nav-dark .owl-nav [class*='owl-']:hover,
.owl-full.owl-nav-dark .owl-nav [class*='owl-']:focus {
	color: #e4191f
}

.owl-simple .owl-nav [class*='owl-']:not(.disabled):hover {
	color: #e4191f
}

.owl-simple.owl-light .owl-dots .owl-dot:hover span {
	border-color: #e4191f;
	background: #e4191f
}

.owl-simple.owl-light .owl-dots .owl-dot.active span {
	border-color: #e4191f;
	background: #e4191f
}

.quickView-content .owl-theme.owl-light .owl-nav [class*='owl-'] {
	border: none;
	font-size: 3rem;
	color: #fff
}

.quickView-content .owl-theme.owl-light .owl-nav [class*='owl-']:hover,
.quickView-content .owl-theme.owl-light .owl-nav [class*='owl-']:focus {
	color: #e4191f;
	background-color: transparent
}

.quickView-content .details-action-wrapper .btn-product:hover span,
.quickView-content .details-action-wrapper .btn-product:focus span {
	color: #e4191f;
	box-shadow: 0 1px 0 0 #e4191f
}

.quickView-content .product-details-action .btn-cart {
	transition: color .3s
}

.quickView-content .product-details-action .btn-cart:hover,
.quickView-content .product-details-action .btn-cart:focus {
	border-color: #e4191f;
	background-color: #e4191f;
	color: #fff
}

.quickView-content .btn-wishlist,
.quickView-content .btn-compare {
	border: none
}

.quickView-content .btn-wishlist:before,
.quickView-content .btn-compare:before {
	color: #e4191f
}

.quickView-content .btn-wishlist:hover,
.quickView-content .btn-wishlist:focus,
.quickView-content .btn-compare:hover,
.quickView-content .btn-compare:focus {
	color: #e4191f;
	background-color: transparent
}

.quickView-content .btn-wishlist:hover span,
.quickView-content .btn-wishlist:focus span,
.quickView-content .btn-compare:hover span,
.quickView-content .btn-compare:focus span {
	color: #e4191f
}

.quickView-content .btn-fullscreen:hover,
.quickView-content .btn-fullscreen:focus {
	color: #fff;
	background-color: #e4191f
}

.quickView-content .product-left .carousel-dot.active img {
	opacity: 1;
	box-shadow: 0 0 0 1px #e4191f
}

.quickView-content .product-left .carousel-dot:hover img,
.quickView-content .product-left .carousel-dot:focus img {
	opacity: 1
}

.newsletter-popup-container .banner-title span {
	color: #e4191f
}
.bannerRightContent {
    right: 20px;
    left: inherit;
	font-family: 'Montserrat';
	font-weight:900;
	
}
.banner-group .bannerRightContent h3.banner-title {
    margin-bottom: 10px !important;
    font-size: 32px;
    font-weight: 900;
    color: #000 !important;
    text-align: right;
}

/*# sourceMappingURL=skin-demo-2.css.map */